<div class="contact">
  <div class="contact__title">Contact</div>
  <div class="contact__description">I would love to hear from you, if you have any questions about my projects or about me, I am happy to discuss!
  </div>
  <div class="contact__icons">
    <button mat-icon-button class="contact__button" (click)="navigateToLinkedIn()">
      <img src="assets/linkedin.svg" alt="LinkedIn" class="contact__button-icon">
    </button>

    <button mat-icon-button class="contact__button" (click)="sendEmail()">
      <img src="assets/mail.svg" alt="Mail" class="contact__button-icon"/>
    </button>
  </div>
</div>
