@use '@angular/material' as mat;
@import "../material";

.spacer {
  flex: 1 1 auto;
}

.toolbar {
  background-color: mat.get-color-from-palette($my_primary, 900);
  position: sticky;
  top: 0;
  padding: 32px;
  display: flex;
  align-items: center;
  height: fit-content;
  z-index: 1000
}

.toolbar__title {
  color: mat.get-color-from-palette($my_secondary, 500);
  font-size: 2em;
  font-weight: 700;
  font-family: 'Titillium Web', sans-serif;
}

.toolbar__secondary-title {
  color: mat.get-color-from-palette($my_secondary, 500);
  font-size: 1.75em;
  font-weight: 300;
  margin-left: 32px;
  font-family: 'Titillium Web', sans-serif;
}

.toolbar__menu-items {
  display: flex;
}


.toolbar__menu-item {
  color: mat.get-color-from-palette($my_secondary, 500);
  text-transform: uppercase;
  margin: 16px;
  font-weight: 400;
  align-self: baseline;
}

.toolbar__menu-item:hover {
  color: mat.get-color-from-palette($my_secondary, 200);
  font-weight: 500;
  cursor: pointer;
}

// For smaller device compatibility
@media (max-width: 600px) {
  .toolbar__menu-items {
    flex-direction: column;
    align-items: flex-start;
  }

  .toolbar__menu-item {
    margin: 4px;
  }
}

.portfolio-section {
  height: fit-content;
  padding: 0 32px;
}

.portfolio-section__contact, .portfolio-section__projects {
  background-color: mat.get-color-from-palette($my_primary, 800);
}
