@use '@angular/material' as mat;

@import '@angular/material/prebuilt-themes/indigo-pink.css';
@import "material.scss";

html {
  height: fit-content;
}

body {
  height: 100%;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: mat.get-color-from-palette($my_primary, 900);
  color: mat.get-color-from-palette($my_secondary, 200);
}
